@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
// Обнуляющий файл
@import "nullstyle.scss";

// Шаблоны для декорированя текста
$fz:20px;
$color_1:#fff;
$color_2:#000;

// Шаблоны для декорирования блока
%tplborder {
	font-size: 40px;
	border-bottom: 5px dashed red;
}

// Супер шаблон для декорирования текста
@mixin fontz($f,$c) {
	font-size: $f;
	color: $c;	
}

body {
	font-family: "Roboto Slab", serif;
	-webkit-tap-highlight-color: transparent;
	&.lock {
		overflow: hidden;
	}
}

html {
	scroll-behavior: smooth;
}

.wrapper {
	min-height: 100%;
	display: grid;
	grid-template: auto 1fr auto / 1fr;
	grid-template-areas: 
	"header"
	"main"
	"footer";
}

.ibg {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;

	img {
		width: 0;
		height: 0;
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		visibility: hidden;
	}
}

.container {
	display: grid;
	grid-template: 1fr / 1fr minmax(auto,1230px) 1fr;
	padding: 0 15px;
}

.header {
	grid-area: header;
	background: #48689a;
	padding: 16px 0;
	&__body {
		grid-column: 2 / 3;
		display: grid;
		grid-template: auto auto 1fr / 1fr;
		row-gap: 5px;
	}

	&__header {}
	&__main {}
	&__footer {}
	@media (max-width:767px) {
		&__body {
			row-gap: 15px;
		}
	}
}

// ============HEADER-header============
.item-header {

	&__body {
		display: grid;
		grid-template: 1fr / auto 1fr auto;
		align-items: center;
	}

	&__adderss {
		display: flex;
		column-gap: 30px;
		address {
			font-style: normal;
			font-size: 0.8rem;
			font-weight: 300;
			color: #eee;
		}
	}

	&__number {}
	&__mail {}

	&__menu {
		grid-column: 3 / 4;
	}

	&__list {
		display: flex;
		column-gap: 30px;
	}
	&__language {
		background: none;
		color: #eee;
		option {
				color: #000;
			}
	}
	&__currency {
		background: none;
		color: #eee;
		option {
			color: #000;
		}
	}
	&__link {
		color: #eee;
	}
	@media (max-width:600px) {
		&__body {
			grid-template: 1fr / 1fr;
			row-gap: 10px;
			justify-content: end;
		}
		&__adderss {
			display: none;
		}
		&__menu {
			grid-column: span 1;
			display: flex;
			justify-content: end;
		}
	}
}
// ============HEADER-main============
.item-main {

	&__body {
		display: grid;
		grid-template: 1fr / 1fr;
	}

	&__form {
		display: flex;
		justify-content: center;

	}

	&__input {
		background: none;
		border-bottom: 1px solid #9aa6b9;
		width: 100%;
		max-width: 300px;
		font-size: 1rem;
		color: #eee;
		&::placeholder {
			color: #eee;
		}
	}

	&__button {
		font-size: 1rem;
		background: none;
		color: #eee;
		border-bottom: 1px solid #9aa6b9;
	}
}
// ============HEADER-footer============
.item-footer {
	position: relative;
	&__body {
		display: grid;
		grid-template: 1fr / minmax(auto, 290px) 1fr;
		align-items: center;
	}
	&__logotype {}
	&__logo {
		display: inline-block;
		font-family: "Oswald", sans-serif;
		font-size: 2.5rem;
		font-weight: 600;
		line-height: 0.75;
		color: #00cdc6;
		padding: 10px 22px;
		border: 2px solid #00cdc6;
	}

	&__burger {
		display: none;
	}

	&__block {
		display: grid;
		grid-template: 1fr / minmax(auto,730px) 1fr;
		column-gap: 40px;
		align-items: center;
	}

	&__menu {}

	&__list {
		display: flex;
		justify-content: space-between;
	}

	&__link {
		font-size: 0.95rem;
		color: #eee;
		position: relative;
		img {
			position: absolute;
			top: 0;
		}
	}
	&__basket {
		display: flex;
		justify-content: end;
		align-items: center;
		column-gap: 5px;
	}
	.item-men__body {
		
	}
	@media (max-width:1023px) {
		&__body {
			grid-template: 1fr / minmax(auto, 190px) 1fr;
		}
	}
	@media (max-width:767px) {
		&__burger {
			grid-column: 3 / 4;
			position: relative;
			right: 10px;
			top: 0;
			display: grid;
			width: 30px;
			height: 20px;
			z-index: 11;
			span {
			transition: all 0.3s linear 0s;
			}
			span:first-child {
				width: 100%;
				height: 2px;
				background: #eee;
				position: absolute;
				top: 1px;
				left: 0;
			}
			span:nth-child(2) {
				width: 100%;
				height: 2px;
				background: #eee;
				position: absolute;
				top: 9.5px;
				left: 0;
			}
			span:last-child {
				width: 100%;
				height: 2px;
				background: #eee;
				position: absolute;
				top: 18px;
				left: 0;
			}
			&.active {
				span:first-child {
					top: 10px;
					transform: rotate(-45deg);
				}
				span:nth-child(2) {
					opacity: 0;
				}
				span:last-child {
					top: 10px;
					transform: rotate(45deg);
				}
			}
		}
		&__block {
			width: 100%;
			padding: 15px 0;
			position: fixed;
			top: 147px;
			left: -100%;
			z-index: 10;
			background: #48689a;
			grid-template: auto auto / 1fr;
			row-gap: 30px;
			transition: all 0.5s ease-out 0s;
			&.active {
				left: 0;
			}
		}
		&__list {
			flex-direction: column;
			padding: 0 0 0 30px;
			row-gap: 10px;
			width: 200px;
		}
		&__link {
			font-size: 1.8rem;
			img {
				top: 10px;
			}
		}
		&__basket {
			justify-content: start;
			padding: 0 0 0 30px;
		}
	}
	@media (max-width:424px) {
		&__list {
			padding: 0 0 0 10px;
		}
	}
}
.drop__down {
	img {
		transition: all 0.3s linear 0s;
		transform: rotate(0deg);
	}
	&.active {	
		img {
		transform: rotate(-90deg);
	}
}
}
.basket {
	&__link {
		font-size: 1.2rem;
		color: #eee;
		border: solid 1px #eee;
		border-radius: 50%;
		padding: 10px;
		position: relative;
		&::before {
		 //content: '';
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 0.8rem;
			width: 15px;
			height: 15px;
			border-radius: 50%;
			background: #eeeeee;
			color: #48689a;
			position: absolute;
			top: -5px;
			right: -2px;
		}
	}

	&__num {
		color: #eee;
		font-size: 1rem;
	}
}

.item-men {
	&__body {
			position: absolute;
			top: 65px;
			left: 0;
			width: 100%;
			box-shadow: 0px 3px 7px 0 rgba(0, 0, 0, 0.35);
			border: solid 1px #eee;
			background: #fff;
			padding: 50px;
			display: none;
			z-index: 10;
			&.active {
				display: grid;
				
			}
		}

	&__row {
		display: grid;
		grid-template: 1fr / repeat(4, 1fr);
		column-gap: 30px;
	}

	&__column {
		display: grid;
		justify-content: center;
	}

	&__section {
		display: grid;
		grid-template: 20px 1fr / 1fr;
		row-gap: 30px;
	}

	&__title {
		font-size: 1rem;
		font-weight: 700;
	}

	&__list {
		display: flex;
		flex-direction: column;
		row-gap: 15px;
	}

	&__link {
		font-size: 0.9rem;
		line-height: 2.14;
		letter-spacing: 0.28px;
		color: #3c4852;
	}

	&__image {
		display: grid;
	}

	&__img {
		background: #eeeeee;
		p {
			margin: 30px 20px;
			font-size: 24px;
			font-weight: 700;
			letter-spacing: 0.48px;
			color: #48689a;
			display: inline-block;
			position: relative;
			&::before {
				content: '';
				width: 100%;
				height: 2px;
				background-color: #48689a;
				position: absolute;
				bottom: -8px;
				left: 0;
			}
			&::after {
				content: '';
				width: 70%;
				height: 2px;
				background-color: #48689a;
				position: absolute;
				bottom: -20px;
				left: 0;
			}
		}
	}
	@media (max-width:1023px) {
		&__section {
			row-gap: 15px;
		}
		&__list {
			row-gap: 10px;
		}
	}
	@media (max-width:767px) {
		&__body {
			overflow: scroll;
			width: 70%;
			left: 95%;
			transform: translate(-97%, 0);
			height: 85%;
			top: 0;
		}
		&__row {
			grid-template: 1fr 1fr / 1fr 1fr;
			row-gap: 40px;
		}
		&__column {
			justify-content: start;
		}
	}
	@media (max-width:620px) {
		&__body {
			width: 50%;
		}
		&__row {
			grid-template: 1fr 1fr 1fr 1fr / 1fr;
		}
	}
	@media (max-width:424px) {
		&__body {
			padding: 10px;
		}
	}
}

//	============MAIN SLIDER
.blue {
	color: #48689a;
}
.main {
	padding: 100px 0;
	&__body {
		grid-column: 2 / 3;
		position: relative;
		display: grid;
	}

	&__swiper {
		
		height: 500px;
		max-width: 90%;
		
	}

	&__wrapper {}

	&__slide {
		max-width: 100%;
		background: #eee;
		display: flex;
		align-items: center;
		color: #fff;
	}

	&__button-prev {
		position: absolute;
		left: 0;
		display: flex;
		flex-direction: column;
		color: #48689a;
		line-height: 1.8;
		font-size: 1rem;
		font-weight: 300;
		z-index: 1;
		&::after {
				display: none;
			}
	}

	&__button-next {
		position: absolute;
		right: 0;
		display: flex;
		flex-direction: column;
		color: #48689a;
		line-height: 1.8;
		font-size: 1rem;
		font-weight: 300;
		z-index: 1;
		&::after {
				display: none;
			}
	}
	@media (max-width:768px) {
		&__swiper {
			height: 350px;
		}
	}
	@media (max-width:600px) {
		&__button-prev {
			left: -10px;
		}
		&__button-next {
			right: -10px;
		}
	}
}
.item-slide {
	
	&__body {
		display: flex;
		flex-direction: column;
		padding: 0 0 0 50px;
	}

	&__title {
		text-transform: uppercase;
		text-shadow: 0.5px 0.9px 1px rgba(0, 0, 0, 0.35);
		font-size: 3.125rem;
		font-weight: 700;
		color: #15232d;
	}

	&__subtitle {
		text-transform: uppercase;
		text-shadow: 0.5px 0.9px 1px rgba(0, 0, 0, 0.35);
		font-size: 2.5rem;
		color: #15232d;
		
	}

	&__button {
		margin: 50px 0 0 0;
		display: flex;
	}

	&__btn {
		padding: 19px 45px;
		text-transform: uppercase;
		background: #48689a;
		color: #fff;
		font-size: 1rem;
		transition: all 0.3s ease 0s;
		&:hover {
			box-shadow: 0 0 10px #48689a;
		}
	}
	@media (max-width:768px) {
		&__title {
			font-size: 2.5rem;
		}
		&__subtitle {
			font-size: 1.9rem;
		}
		&__btn {
			padding: 15px 25px;
		}
	}
	@media (max-width:600px) {
		&__body {
			padding: 0 0 0 20px;
		}
	}
	@media (max-width:425px) {
		&__title {
			font-size: 2rem;
		}
		&__subtitle {
			font-size: 1.4rem;
			padding: 5px 0 0 0;
		}
		&__button {
			margin: 30px 0 0 0;
		}
	}
}
// ============PROMO

.promo {
	background-color: #f7f7f7;
	padding: 100px 0;
	&__body {
		grid-column: 2 / 3;
		display: grid;
		grid-template: repeat(3, auto) / 1fr;
		row-gap: 100px;
	}

	// PROMO HEADER ==========
	&__header {
		display: grid;
	}

	&__header-body {
		display: grid;
		grid-template: 250px / repeat(2, 1fr);
		justify-content: center;
		column-gap: 30px;

		.promo__header-column:first-child {
			.promo__header-block {
			align-items: end;
			outline: solid 5px #48689a;
			outline-offset: -15px;
			justify-content: center;
			height: 100%;
			}
			.promo__header-title {
				text-align: center;
				font-size: 1.5rem;
				font-weight: 700;
				line-height: 1.26;
				color: #161d2b;
				span:nth-child(2) {
					font-size: 2.313rem;
					color: #48689a;
				}
				span:nth-child(3) {
					transform: translate(7%, 0);
					letter-spacing: 16.8px;
				}
			}
		}
		.promo__header-column:last-child {
			.promo__header-title {
				font-size: 1.5rem;
				font-weight: 700;
				line-height: 1.26;
				color: #161d2b;
			}
			.promo__header-button {
				margin: 20px 0 0 0;
			}
			.promo__header-btn {
				font-size: 1rem;
				line-height: 1.79;
				letter-spacing: 0.28px;
				color: #15232d;
			}
		}
	}

	&__header-column {
		display: grid;
		align-items: center;
		border: solid 5px #eee;
	}

	&__header-block {
		display: flex;
		flex-direction: column;
		padding: 0 50px;
	}

	&__header-title {
		display: flex;
		flex-direction: column;
	}

	// PROMO MAIN ==========
	&__main {
		display: grid;
	}

	&__main-body {
		display: grid;
		grid-template: 1fr / 1fr 1fr 1fr;
		column-gap: 40px;
	}

	&__main-column {
		display: grid;
	}

	&__main-block {
		display: grid;
		grid-template: 1fr / auto 1fr;
		column-gap: 30px;
		align-items: center;
	}

	&__main-icons {
		img {
			max-width: 100%;
		}
	}

	&__main-info {
		display: flex;
		flex-direction: column;
		row-gap: 15px;
	}

	&__main-title {
		font-size: 1rem;
		letter-spacing: 0.28px;
		color: #1f2b34;
	}

	&__main-text {
		font-size: 1rem;
		font-weight: 300;
		line-height: 1.49;
		letter-spacing: 0.28px;
		text-align: justify;
		color: #3c4852;
	}

	// PROMO FOOTER ==========
	&__footer {
		display: grid;
	}

	&__footer-body {
		display: grid;
		grid-template: repeat(2, 241px) / 1fr 1fr 1fr;
		gap: 15px;

		.promo__footer-column:nth-child(3) {
			background: #fff;
			outline: solid 5px #48689a;
			outline-offset: -25px;
			grid-row: span 2;
			display: grid;
			align-items: center;
			justify-content: center;
			text-align: center;
			.card-promo__title {
				padding: 0 0 30px 0;
				text-transform: uppercase;
				font-size: 1.5rem;
				font-weight: 700;
				color: #3c4852;
			}
			.card-promo__btn {
				font-size: 2.5rem;
				color: #48689a;
			}
		}
		.promo__footer-column:nth-child(4) {
			border: 5px solid #fff;
			background: #f7f7f7;
			display: grid;
			.card-promo__body {
				display: flex;
				align-items: flex-end;
				justify-content: center;
			}
			.card-promo__button {
				margin: 0 0 40px 0;
			}
			.card-promo__btn {
				display: flex;
				align-items: center;
				justify-content: center;
				max-width: 100%;
				width: 170px;
				height: 50px;
				border: solid 2px #15232d;
				text-transform: uppercase;
				font-size: 1rem;
				color: #15232d;
				
			}
		}
	}

	&__footer-column {}
	@media (max-width:1023px) {
		.promo__footer-column:nth-child(3) {
			grid-row: 1 / 2;
			grid-column: span 2;
			.card-promo__body {
				display: flex;
				align-items: center;
			}
			.card-promo__title {
				padding: 0 20px 0 0;
			}
		}
	}
	@media (max-width:767px) {
		&__main-block {
			grid-template: auto 1fr / 1fr;
			row-gap: 10px;
		}
		&__footer-body {
			grid-template: repeat(3, 241px) / repeat(2, 1fr);
		}
		.promo__footer-column:nth-child(4) {
			order: 5;
		}
	}
	@media (max-width:570px) {
		&__header-body {
			grid-template: repeat(2, 250px) / 1fr;
			row-gap: 15px;
		}
		&__main-body {
			grid-template: repeat(3, 1fr) / minmax(auto, 250px);
			row-gap: 70px;
			justify-content: center;
			text-align: center;
		}
		&__main-icons {
			img {
				width: 70px;
			}
		}
		&__main-title {
			font-size: 1.5rem;
		}
		&__main-text {
			text-align: center;
			font-size: 1.2rem;
		}
	}
	@media (max-width:424px) {
		.promo__header-column:first-child {
			.promo__header-block {
				align-items: center;
			}
		}
		&__header-block {
			text-align: center;
			align-items: center;
			padding: 0;
		}
		&__footer-body {
			grid-template: repeat(5, 241px) / 1fr;
		}
		.promo__footer-column:nth-child(3) {
			grid-column: span 1;
			.card-promo__body {
				flex-direction: column;
				row-gap: 20px;
			}
			.card-promo__title {
				padding: 0;
			}
		}
	}
}

	// PROMO FOOTER CARD ==========
.card-promo {
	display: grid;
	&__body {
		display: grid;
	}
	
	&__link {
		background: url(../img/promo_card-bg.png) 0 0/ cover no-repeat;
	}

	&__block {}

	&__img {}

	&__title {}

	&__button {}

	&__btn {}
}

// NEW COLLECTIONS =============

.collections {
	padding: 100px 0;
	&__body {
		grid-column: 2 / 3;
		display: grid;
		grid-template: auto 1fr / 1fr;
		row-gap: 50px;
	}

	&__top {
		display: grid;
		
	}

	&__top-body {
		display: grid;
		grid-template: 1fr / repeat(2, 1fr);
		align-items: center;
	}

	&__top-title {
		text-transform: uppercase;
		font-size: 1.5rem;
		font-weight: 700;
		color: #15232d;
		
	}

	&__top-buttons {
		display: flex;
		justify-content: flex-end;
		column-gap: 30px;
	}

	&__top-btn {
		text-transform: uppercase;
		font-size: 1rem;
		color: #15232d;
		background: none;
	}

	&__bottom {
		display: grid;
		
	}

	&__bottom-body {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
		justify-content: center;
		gap: 20px;
		.men {
			&:first-child {background: url(../img/man-1.jpg) center/ cover no-repeat;}
			&:nth-child(2) {background: url(../img/man-3.jpg) center/ cover no-repeat;}
			&:nth-child(3) {background: url(../img/man-2.jpg) center/ cover no-repeat;}
			&:nth-child(4) {background: url(../img/man-4.jpg) center/ cover no-repeat;}
			&:nth-child(5) {background: url(../img/man-4.jpg) center/ cover no-repeat;}
			&:nth-child(6) {background: url(../img/man-2.jpg) center/ cover no-repeat;}
			&:nth-child(7) {background: url(../img/man-3.jpg) center/ cover no-repeat;}
			&:nth-child(8) {background: url(../img/man-1.jpg) center/ cover no-repeat;}
		}
		.women {
			&:nth-child(9) {background: url(../img/woman-1.jpg) center/ cover no-repeat;}
			&:nth-child(10) {background: url(../img/woman-3.jpg) center/ cover no-repeat;}
			&:nth-child(11) {background: url(../img/woman-2.jpg) center/ cover no-repeat;}
			&:nth-child(12) {background: url(../img/woman-4.jpg) center/ cover no-repeat;}
			&:nth-child(13) {background: url(../img/woman-4.jpg) center/ cover no-repeat;}
			&:nth-child(14) {background: url(../img/woman-2.jpg) center/ cover no-repeat;}
			&:nth-child(15) {background: url(../img/woman-3.jpg) center/ cover no-repeat;}
			&:nth-child(16) {background: url(../img/woman-1.jpg) center/ cover no-repeat;}
		}
		.shop {
			&:nth-child(17) {background: url(../img/shop-1.jpg) center/ cover no-repeat;}
			&:nth-child(18) {background: url(../img/shop-3.jpg) center/ cover no-repeat;}
			&:nth-child(19) {background: url(../img/shop-2.jpg) center/ cover no-repeat;}
			&:nth-child(20) {background: url(../img/shop-4.jpg) center/ cover no-repeat;}
			&:nth-child(21) {background: url(../img/shop-4.jpg) center/ cover no-repeat;}
			&:nth-child(22) {background: url(../img/shop-2.jpg) center/ cover no-repeat;}
			&:nth-child(23) {background: url(../img/shop-3.jpg) center/ cover no-repeat;}
			&:nth-child(24) {background: url(../img/shop-1.jpg) center/ cover no-repeat;}
		}
		.accessories {
			&:nth-child(25) {background: url(../img/accessories-1.jpg) center/ cover no-repeat;}
			&:nth-child(26) {background: url(../img/accessories-3.jpg) center/ cover no-repeat;}
			&:nth-child(27) {background: url(../img/accessories-2.jpg) center/ cover no-repeat;}
			&:nth-child(28) {background: url(../img/accessories-4.jpg) center/ cover no-repeat;}
			&:nth-child(29) {background: url(../img/accessories-4.jpg) center/ cover no-repeat;}
			&:nth-child(30) {background: url(../img/accessories-2.jpg) center/ cover no-repeat;}
			&:nth-child(31) {background: url(../img/accessories-3.jpg) center/ cover no-repeat;}
			&:nth-child(32) {background: url(../img/accessories-1.jpg) center/ cover no-repeat;}
		}
	}

	&__bottom-column {
		display: grid;
		overflow: hidden;
		height: 340px;
	}
	@media (max-width:767px) {
		&__top-body {
				grid-template: auto 1fr / 1fr;
				row-gap: 40px;
			}
			&__top-title {
				text-align: center;
				font-size: 2rem;
			}
			&__top-buttons {
				justify-content: center;
			}
	}
	@media (max-width:600px) {
		&__bottom-body {
			grid-template-columns: repeat(2, 1fr);
		}
	}
	@media (max-width:424px) {
		&__top-buttons {
			flex-direction: column;
			row-gap: 20px;
		}
		&__top-btn {
			font-size: 1.5rem;
		}
		&__bottom-body {
			grid-template-columns: 1fr;
		}
	}
}


.item-collections {
	display: none;
	&__body {
		
		display: grid;
		grid-template: 1fr / 1fr;
		align-items: end;
		position: relative;
	}

	&__price {
		position: absolute;
		padding: 10px;
		font-size: 0.9rem;
		letter-spacing: 0.28px;
		color: #fff;
		background: #48689a;
		left: -100%;
		top: 0;
		transition: all 0.5s ease-out 0s;
		&.active {
			left: 0;
		}
	}

	&__buttons {
		margin: 0 0 30px 0;
		display: grid;
		row-gap: 20px;
		justify-content: end;
		button {
			border: solid 1px #48689a;
			padding: 10px;
			font-size: 1rem;
			color: #15232d;
			position: relative;
			transition: all 0.3s ease-out 0s;
			&::before {
				content: '';
				width: 0;
				height: 0;
				border-top: 7px solid #48689a;
				border-right: 7px solid transparent;
				position: absolute;
				top: 0;
				left: 0;
			}
		}
	}

	&__eye {
		right: -100%;
		&.active {
			right: 0;
		}
	}

	&__heart {
		right: -100%;
		&.active {
			right: 0;
		}
	}

	&__basket {
		position: relative;
		&.active {
			background: #48689a;
			color: #fff;
		}
	}

	&__text {
		position: absolute;
		top: 50%;
		left: -90px;
		height: 40px;
		transform: translate(0, -50%);
		display: none;
		p {
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 0.9rem;
				font-weight: 300;
				letter-spacing: 0.28px;
				color: #fff;
				padding: 0 10px;
			}
		&.active {
			display: flex;
			background: #48689a;
		}
	}
}

// SLIDER =================

.slider {
	background: #eeeeee;
	&__body {
		grid-column: 2 / 3;
		position: relative;
		min-width: 0;padding: 150px 0;
	}

	&__swiper {
		max-width: 90%;
	}

	&__wrapper {}

	&__slide {
		display: flex;
		justify-content: flex-end;
		padding: 0 150px 0 0;
	}

	&__prev {
		position: absolute;
		left: 0;
		color: #9aa6b9;
		font-size: 3rem;
		&::after {
			display: none;
		}
	}

	&__next {
		position: absolute;
		right: 0;
		color: #9aa6b9;
		font-size: 3rem;
		&::after {
			display: none;
		}
	}
	@media (max-width:1023px) {
		&__slide {
			justify-content: center;
			padding: 0 15px;
			text-align: center;
		}
	}
	@media (max-width:767px) {
		&__prev {
			font-size: 2rem;
		}
		&__next {
			font-size: 2rem;
		}
	}
	@media (max-width:560px) {
		&__slide {
			justify-content: start;
			text-align: left;
		}
	}
	@media (max-width:424px) {
		&__prev {
			font-size: 3rem;
			top: 75%;
			left: 45%;
			transform: translate(-100%, 0);
		}
		&__next {
			font-size: 3rem;
			top: 75%;
			right: 45%;
			transform: translate(100%, 0);
		}
	}
}


.item-slider {
	
	&__body {
		display: flex;
		flex-direction: column;
		padding: 50px 0;
	}

	&__title {
		font-size: 2.5rem;
		font-weight: 700;
		letter-spacing: 7.2px;
		color: #15232d;
	}

	&__subtitle {
		padding: 20px 0 40px 0;
		font-size: 1.5rem;
		letter-spacing: 0.6px;
		color: #1f2b34;
	}

	&__button {
		display: flex;
		justify-content: center;
	}

	&__btn {
		text-transform: uppercase;
		font-size: 1rem;
		letter-spacing: 0.28px;
		color: #15232d;
		border: solid 2px #15232d;
		padding: 20px 30px;
		transition: all 0.3s ease-out 0s;
		&:hover {
			box-shadow: 0 0 10px #15232d;
		}
	}
	@media (max-width:767px) {
		&__title {
			font-size: 2rem;
			line-height: 1.4;
		}
		&__subtitle {
			font-size: 1.2rem;
			line-height: 1.2;
		}
	}
	@media (max-width:560px) {
		&__title {
			font-size: 2.2rem;
		}
		&__subtitle {
			max-width: 300px;
		}
		&__button {
			justify-content: start;
		}
	}
}

// FEATURED ===============

.featured {
	padding: 100px 0;
	&__body {
		grid-column: 2 / 3;
		display: grid;
		grid-template: auto 1fr auto / 1fr;
		row-gap: 50px;
	}

	&__top {
		display: grid;
		grid-template: 1fr / 1fr 1fr;
		align-items: center;
	}

	&__top-title {
		font-size: 1.5rem;
		font-weight: 700;
		line-height: 1.25;
		color: #15232d;
	}

	&__top-buttons {
		display: flex;
		justify-content: flex-end;
		column-gap: 30px;
	}

	&__top-btn {
		text-transform: uppercase;
		font-size: 1rem;
		color: #15232d;
		background: none;
	}

	&__bottom {}

	&__bottom-body {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
		justify-content: center;
		gap: 20px;
		.men {
			position: relative;
			&::before {
				content: 'Men';
				text-transform: uppercase;
				font-size: 2rem;
				position: absolute;
				color: #15232d;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
			}
		}
		.women {
			position: relative;
			&::before {
				content: 'Women';
				text-transform: uppercase;
				font-size: 2rem;
				position: absolute;
				color: #15232d;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
			}
		}
		.shop {
			position: relative;
			&::before {
				content: 'Shop';
				text-transform: uppercase;
				font-size: 2rem;
				position: absolute;
				color: #15232d;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
			}
		}
		.accessories {
			position: relative;
			&::before {
				content: 'Accessories';
				text-transform: uppercase;
				font-size: 2rem;
				position: absolute;
				color: #15232d;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
			}
		}
	}

	&__bottom-column {
		display: grid;
		overflow: hidden;
		height: 340px;
		background: #eeeeee;
	}
	
	&__promo {
		display: grid;
	}
	
	&__promo-body {
		display: grid;
		grid-template: 350px / repeat(2, minmax(auto, 1fr));
		justify-content: center;
		gap: 20px;
	}
	
	&__promo-column {
		display: grid;
		background: #eeeeee;
	}
	
	&__promo-link {
		display: grid;
	}

	&__promo-info {
		margin: 20px;
		background: #fff;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		row-gap: 40px;
	}
	
	&__promo-title {
		text-transform: uppercase;
		font-size: 1.5rem;
		font-weight: 700;
		text-align: center;
		color: #3c4852;
		span {
			display: block;
			padding: 5px 0 0 0;
		}
	}
	
	&__promo-subtitle {
		text-transform: uppercase;
		font-size: 1.5rem;
		letter-spacing: 6px;
		color: #15232d;
	}
	@media (max-width:767px) {
		&__promo-body {
			grid-template: repeat(2, 350px) 1fr / 1fr;
		}
	}
	@media (max-width:550px) {
		&__top {
			grid-template: auto 1fr / 1fr;
			row-gap: 40px;
		}
		&__top-title {
			text-align: center;
			font-size: 2rem;
		}
		&__top-buttons {
			justify-content: center;
		}
	}
	@media (max-width:424px) {
		&__top-buttons {
			flex-direction: column;
			row-gap: 20px;
		}
		&__top-btn {
			font-size: 1.5rem;
		}
		&__promo-body {
			grid-template: repeat(2, 250px) / 1fr;
		}
		&__promo-title {
			font-size: 1.2rem;
		}
		&__promo-subtitle {
			font-size: 1.2rem;
		}
}
}

// NEWS ===============

.news {
	background: #eeeeee;
	padding: 100px 0;
	&__body {
		grid-column: 2 / 3;
		display: grid;
		grid-template: auto 1fr / 1fr;
		row-gap: 75px;
	}

	&__top {
		display: flex;
		justify-content: center;
	}

	&__top-body {}

	&__top-title {
		text-transform: uppercase;
		font-size: 1.5rem;
		font-weight: 700;
		color: #161d2b;
	}

	&__bottom-row {
		display: grid;
		grid-template: 1fr 1fr / repeat(auto-fill, minmax(auto, 530px));
		justify-content: center;
		row-gap: 80px;
		column-gap: 30px;
	}

	&__bottom-column {
		display: grid;
	}
	@media (max-width:1120px) {
		&__top-title {
			font-size: 2.5rem;
		}
		&__bottom-row {
			grid-template: 1fr 1fr / repeat(auto-fill, minmax(auto, 350px));
		}
	}
	@media (max-width:767px) {
		&__bottom-row {
			grid-template: 1fr 1fr 1fr 1fr / minmax(auto, 400px);
		}
	}
}


.item-news {

	&__row {
		display: grid;
		grid-template: 1fr / 1fr 1fr;
		column-gap: 29px;
	}

	&__image {
		display: grid;
	}

	&__img {
		display: grid;
		img {
			display: block;
			width: 100%;
			height: 100%;
			
		}
	}

	&__info {
		display: grid;
	}

	&__body {
		display: grid;
		grid-template: 1fr 1fr auto / 1fr;
	}

	&__title {
		text-transform: uppercase;
		font-size: 1rem;
		line-height: 1.79;
		text-align: justify;
		color: #424c55;
	}

	&__links {
		display: flex;
		justify-content: space-between;
	}

	&__name {
		display: flex;
		
		column-gap: 10px;
		font-size: 0.8rem;
		color: #3c4852;
	}
	&__icons {}

	&__list {
		display: flex;
		column-gap: 12px;
	}

	&__link {
		color: #3c4852;
		font-size: 0.8rem;
	}

	&__button {}

	&__btn {
		font-size: 1rem;
		font-weight: 300;
		letter-spacing: 0.28px;
		color: #48689a;
	}
	@media (max-width:1120px) {
		&__row {
				grid-template: 1fr 1fr / minmax(auto, 400px);
				justify-content: center;
				row-gap: 20px;
			}
		&__body {
			grid-template: 1fr 1fr auto / 1fr;
		}
		&__title {
			font-size: 1.4rem;
		}
		&__name {
			font-size: 1.2rem;
		}
		&__links {
			align-items: center;
		}
		&__link {
			font-size: 1.2rem;
		}
		&__btn {
			font-size: 1.2rem;
		}
	}
	@media (max-width:767px) {
		&__links {
			align-items: start;
		}
		&__body {
			grid-template: repeat(3, auto) / 1fr;
		}
	}
	@media (max-width:550px) {
		&__row {
			grid-template: 1fr 1fr / minmax(auto, 400px);
			justify-content: center;
			row-gap: 20px;
		}
		
		&__title {
			font-size: 1.2rem;
		}
		&__name {
			font-size: 1rem;
		}
		&__link {
			font-size: 1rem;
		}
		&__btn {
			font-size: 1rem;
		}
	}
}

// TREND ============

.trend {
	padding: 100px 0;
	&__body {
		grid-column: 2 / 3;
		display: grid;
		grid-template: 1fr / repeat(3, minmax(auto, 300px));
		column-gap: 30px;
		justify-content: space-between;
	}

	&__column {
		display: grid;
	}
	@media (max-width:767px) {
		&__body {
			grid-template: repeat(3, 1fr) / 1fr;
			row-gap: 70px;
		}
	}
}

.item-trend {
	
	&__body {
		display: grid;
		grid-template: auto 1fr / 1fr;
		row-gap: 45px;
	}

	&__title {
		text-transform: uppercase;
		font-size: 1.25rem;
		font-weight: 700;
		line-height: 1.67;
		color: #1e2835;
		position: relative;
		&::before {
			content: '';
			width: 40px;
			height: 2px;
			background: #9aa6b9;
			position: absolute;
			bottom: -5px;
			left: 0;
		}
	}

	&__row {
		display: grid;
		grid-template: repeat(3, 1fr) / 1fr;
		row-gap: 60px;
	}

	&__column {
		display: grid;
		grid-template: 80px / 70px 1fr;
		column-gap: 15px;
	}
	@media (max-width:767px) {
		&__title {
			font-size: 2.5rem;
		}
		&__row {
			grid-template: 1fr / repeat(3, 1fr);
			column-gap: 30px;
		}
		&__column {
			grid-template: auto 1fr / 1fr;
			row-gap: 10px;
		}
	}
	@media (max-width:374px) {
		&__row {
			grid-template: repeat(3, 1fr) / 1fr;
		}
	}
}

.card-trend {
display: grid;
	&__image {
		display: grid;
		border: #000 1px solid;
	}

	&__img {
		img {
			display: block;
			max-width: 100%;
			width: 100%;
		}
	}

	&__info {
		display: grid;
	}

	&__body {
		display: grid;
		grid-template: 1fr 1fr 1fr / 1fr;
	}

	&__title {
		a {
			font-size: 1rem;
			letter-spacing: 0.28px;
			color: #424c55;
		}
	}

	&__price {
		font-size: 0.8rem;
		letter-spacing: 0.24px;
		color: #48689a;
	}

	&__bottons {
		display: flex;
		column-gap: 5px;
		.cart-hover {
				display: flex;
				transition: all 0.3s ease-out 0s;
		
				span {
					display: none;
				}
		
				&:hover {
					background: #48689a;
					color: #eee;
					position: relative;
					border: none;
		
					&::before {
						content: '';
						width: 1px;
						height: 100%;
						background: #fff;
						position: absolute;
						left: 26px;
						top: 0;
					}
		
					span {
						display: flex;
						padding: 0 0 0 10px;
					}
				}
			}
	}
&__btn {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 4px 6px;
	font-size: 0.9rem;
	background: none;
	border: solid 1px #3c4852;
	color: #3c4852;
}
	@media (max-width:767px) {
		&__body {
			
			row-gap: 10px;
		}
		&__title {
			a {
				font-size: 1.3rem;
			}
		}
		&__price {
			font-size: 1.1rem;
		}
		&__bottons {
			display: grid;
			grid-template: 30px / 1fr auto;
			.cart-hover {
				&::before {
					display: none;
				}
				i {
					display: none;
				}
				span {
					text-transform: uppercase;
					display: flex;
					font-size: 0.8rem;
				}
				&:hover {
					span {
						padding: 0;
						
					}
				}
			}
		}
	}
	@media (max-width:450px) {
			&__title {
				a {
					font-size: 1rem;
				}
			}
	}
	@media (max-width:374px) {
		&__title {
				a {
					font-size: 1.7rem;
				}
			}
		&__price {
			font-size: 1.4rem;
		}
		&__bottons {
			grid-template: 50px / 1fr 50px;
			.cart-hover {
				span {
					font-size: 1.5rem;
				}
			}
		}
		&__btn {
			font-size: 1.5rem;
		}
	}
}

// CALLBACK ===========

.callback {
	padding: 0 0 50px 0;
	&__body {
		grid-column: 2 / 3;
		display: grid;
		grid-template: 300px / repeat(2, 1fr);
		gap: 30px;
	}

	&__column {
		display: grid;
	}
	&__column:first-child {
		background: #eee;
		outline: solid 5px #fff;
		outline-offset: -20px;
		
	}
	&__column:last-child {
		background: #f7f7f7;
		text-align: center;
	}
	@media (max-width:767px) {
		&__body {
			grid-template: repeat(2, 300px) / 1fr;
		}
	}
	@media (max-width:424px) {
		&__body {
			grid-template: repeat(2, 250px) / 1fr;
		}
	}
}


.item-callback {
	display: grid;
	&__body {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&__title {
		font-size: 1.5rem;
		font-weight: 700;
		color: #161d2b;
	}

	&__subtitle {
		padding: 20px 0 45px 0;
		font-size: 1rem;
		font-weight: 300;
		letter-spacing: 0.28px;
		color: #3c4852;
	}

	&__forms {
		display: flex;
		
	}

	&__form {
		border: 1px solid #3c4852;
		display: flex;
		justify-content: space-between;
		height: 45px;
		padding: 0 25px;
	}

	&__input {
		background: none;
		
	}

	&__btn {
		background: none;
		font-size: 2rem;
	}
}

// BRAND ============

	.brand {
		background: #f7f7f7;
		padding: 100px 0;
		&__body {
			grid-column: 2 / 3;
			min-width: 0;
		}

		&__image {
			display: grid;
			justify-content: center;
		}

		&__img {}
		&__swiper {}
		&__wrapper {
			text-align: center;
			display: flex;
				align-items: center;
		}
		&__slide {
		
		}
	}



// -----------------
.page {
	grid-area: main;
}

// =======================

.footer {
	grid-area: footer;
	padding: 100px 0 0 0;
	&__body {
		grid-column: 2 / 3;
		display: grid;
		grid-template: 1fr auto auto / 1fr;
		grid-template-areas: 
		"footer-top"
		"footer-main"
		"footer-footer";
	}

	&__top {
		grid-area: footer-top;
		display: grid;
		padding: 0 0 100px 0;
	}

	&__top-body {
		display: grid;
		grid-template: 1fr / 2fr 1fr 1fr 2fr;
		column-gap: 20px;
	}

	&__top-column {
		display: grid;
		justify-content: center;
	}

	&__main {
		grid-area: footer-main;
		margin: 0 0 60px 0;
		display: grid;
		position: relative;
		&::before {
			content: '';
			width: 100%;
			max-width: 360px;
			height: 2px;
			background: #eee;
			position: absolute;
			bottom: -30px;
			left: 50%;
			transform: translate(-50%, 0);
		}
	}

	&__main-body {
		display: grid;
		justify-content: center;
	}

	&__main-list {
		display: flex;
		column-gap: 30px;
		font-size: 2rem;
	}

	&__main-link {
		color: #3c4852;
		transition: all 0.3s ease-out 0s;
		&:hover {
			color: #48689a;
		}
	}

	&__footer {
		grid-area: footer-footer;
		display: grid;
		background: #48689a;
		height: 40px;
		align-items: center;
		justify-content: center;
	}

	&__footer-body {
		display: grid;
	}

	&__footer-title {
		color: #fff;
		font-size: 1.4rem;
	}
	@media (max-width:767px) {
		&__top-body {
			grid-template: 1fr / 2fr 1fr;
		}
		.item-two, .item-three {
			display: none;
		}
		.item-four {
			&__top {
				grid-template: 60px 60px / 60px 60px;
				row-gap: 10px;
				column-gap: 10px;
			}
		}
	}
	@media (max-width:424px) {
		&__top-body {
			grid-template: 1fr 1fr / 1fr;
			row-gap: 30px;
		}
		&__top-column {
			justify-content: start;
		}
		.item-four {
			&__top {
				grid-template: 1fr / repeat(4, 1fr);
				row-gap: 10px;
				column-gap: 10px;
			}
		}
	}
}


.item-one {
	
	&__body {
		display: grid;
		row-gap: 20px;
	}

	&__logo {
		font-family: Oswald;
		font-size: 2.5rem;
		font-weight: 600;
		color: #48689a;
	}

	&__text {
		font-size: 1rem;
		font-weight: 300;
		line-height: 1.79;
		letter-spacing: 0.28px;
		color: #3c4852;
		display: flex;
		flex-direction: column;
		row-gap: 20px;
	}
}

.item-two {

	&__body {
		display: grid;
		grid-template: 40px 1fr / 1fr;
		row-gap: 20px;
	}

	&__title {
		text-transform: uppercase;
		font-weight: 700;
		font-size: 1rem;
		letter-spacing: 0.28px;
		color: #3c4852;
	}

	&__list {
		display: flex;
		flex-direction: column;
		align-items: start;
		justify-content: start;
		row-gap: 15px;
	}

	&__link {
		color: #15232d;
		font-size: 1rem;
		font-weight: 300;
		letter-spacing: 0.28px;
	}
}

.item-three {

	&__body {
		display: grid;
		grid-template: 40px 1fr / 1fr;
		row-gap: 20px;
	}

	&__title {
		text-transform: uppercase;
		font-weight: 700;
		font-size: 1rem;
		letter-spacing: 0.28px;
		color: #3c4852;
	}

	&__list {
		display: flex;
		flex-direction: column;
		align-items: start;
		justify-content: start;
		row-gap: 15px;
	}

	&__link {
		color: #15232d;
		font-size: 1rem;
		font-weight: 300;
		letter-spacing: 0.28px;
	}
}

.item-four {

	&__body {
		display: grid;
		grid-template: 40px 1fr / 1fr;
		row-gap: 20px;
		position: relative;
		&::before {
			content: '';
			width: 100%;
			height: 2px;
			background: #eeeeee;
			position: absolute;
			bottom: -30px;
			left: 0;
		}
	}

	&__title {
		text-transform: uppercase;
		font-weight: 700;
		font-size: 1rem;
		letter-spacing: 0.28px;
		color: #3c4852;
	}

	&__row {
		display: flex;
		flex-direction: column;
		row-gap: 40px;
	}

	&__top {
		display: grid;
		grid-template: 1fr / repeat(4, 1fr);
		column-gap: 10px;
	}

	&__column {}

	&__bottom {}

	&__list {
		display: flex;
		column-gap: 10px;
	}

	&__img {}
}



